name: CSU Library Reserve2

on:
  workflow_dispatch:

  schedule:
    - cron: '47,49,51,53,55,57,59 21 * * *'

jobs:
  reserve:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Python
      run: |
        sudo apt update && \
        sudo apt install python3
      
    - name: requirements
      run: |
        pip3 install -r requirements.txt
        
    - name: Reserve
      run: |
        user2='${{ secrets.USER2 }}'
        pwd2='${{ secrets.PWD2 }}'
        python3 helper2.py --action 'reserve2' --userid $user2 --password $pwd2
    - name: Commit
      run: |
        git config --global user.email founder.yu@foxmail.com
        git config --global user.name founder-yu
        git add .
        git commit -m "Update library2.log" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
